body {
    font-family: Arial, sans-serif;
    background-color: #e0f7fa;
    color: #333;
}

h1 {
    text-align: center;
    color: #00695c;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

thead tr {
    background-color: #388e3c;
    color: white;
}

th, td {
    padding: 12px 15px;
    text-align: center;
    border: 1px solid #ddd;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:nth-child(odd) {
    background-color: #ffffff;
}

.button-container {
    display: flex;
    justify-content: center;
}

.edit-button, .delete-button {
    padding: 5px 10px;
    margin: 2px;
    border: none;
    cursor: pointer;
    color: white;
    border-radius: 5px;
}

.edit-button {
    background-color: #4caf50;
}

.delete-button {
    background-color: #f44336;
}